/* .fragment{
    height: 100vh;
} */
.logo{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.logo-span{
    display: block;
    width: 90%;
    height: 80%;
    background-color: #182D41;
    text-align: center;
    margin-top: 10%;
    padding-top: 10%;
    font-size: 1.5em;
    color: #A69F88;
}