.ant-modal-content{
    height: 60em;
}

.venue-form{
    width: 40%;
    align-items: center;
    justify-items: center;
    margin-left: 28%;
    overflow-y: auto; /* 添加垂直滚动条 */
}
.venue-edit-form-submit-button{
    margin-right: 2%;
}
.venue-edit-form-add-section-button{
    margin-right: 2%;
    /* margin-top: 5em; */
}
.venue-edit-form-sub-section-button{
    margin-left: 2%;

}
.custom-error-modal .ant-modal-content {
    height: 20%; /* 设置高度 */
  }