.layout-wrap{
    height: 100vh;

} 

.layout-header{
    height: 8%;
    background-color: #001529;
}
.layout-content{
    border: 20px solid #F7F7F7;
    border-radius: 3em;
    background-color: white;
    padding: 30px;
}
.signout{
    top: 10%;
    margin-left: 90%;
}